<div class="container" ng-controller="searchController as searchCtrl">      
  <h1>{{searchCtrl.title}}</h1>
  <div class="panel">
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" ng-model="query" ng-keyup="$event.keyCode == 13 && executeSearch()">
    </div>
    <div class="form-group">
          <label>Order by</label>
          <select class="form-control pull-right" ng-model="searchCtrl.order" ng-options="order as order.title for order in searchCtrl.orders"></select>
      </div> 
    </div>
   <ul class="list-group">                
       <li class="list-group-item" ng-repeat="track in tracks | orderBy:searchCtrl.order.key:searchCtrl.order.reverse">
              <div class="row">
                  <div class="col-md-6">
                      <input type="checkbox" ng-model="track.checked" ng-change="checkedChanged(track)">
                {{ track.name }}
                  </div>
                  <div class ="col-md-6">
                <span class="badge" ng-repeat="artist in track.artists">
                  {{ artist.name }}
                </span>
                  </div>
              </div>
       </li>
  </ul>
  </div>